*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

body {
    background: #0d1a2d;
    color: #627795;
    font-family: 'Quicksand', sans-serif;
}

.card {
    width: 20%;
    margin: 200px auto;
    background: #15273f;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0 20px 30px 5px rgba(0, 0,0, .5);
}
header {
    max-width: 100%;
    margin-bottom: 20px;
}
.card header .image {
    width: 317px;
    height: 317px;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3%;
}
.card header .image img {
    width: 70px;
    position: relative;
    vertical-align: top;
}
.card header .image:hover{
    background-color: rgba(0, 255, 255, 0.5);
    opacity: 1;
    cursor: pointer;
}
.card header .view a img {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3%;
}
.card .titulo {
 /*    color: #dee4f0; */
    margin-bottom: 20px;
}
.card .titulo a {
    text-decoration: none;
    color: #dee4f0;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
.card .titulo a:hover {
    color: aqua;
}

.card .descripcion p{
    font-size: 18px;
    margin-bottom: 20px;
}

.card .eth {
   display: flex;
   justify-content: space-between;
   margin-bottom: 5px;
}
.card .eth .num:hover {
    color: aqua;
    cursor: pointer;
}

.card .eth p {
    font-size: 18px;
}

.card .autor {
    display: flex;
    align-items: center;
    border-top: 1px solid #627795;
    padding-top: 20px;
}
.card .autor img {
    width: 15%;
    border: 1px solid #fff;
    border-radius: 100%;
}

.card .autor p {
    font-size: 18px;
    margin: 0;
    margin-left: 20px;
}
.card .autor p span {
    color: #dee4f0;
}
.card .autor p span:hover {
    color: aqua;
    cursor: pointer;
}